/*=========== reset ==========*/
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
ol ul {
  list-style: none;
}
li {
  list-style: none;
}
.clear:after {
  display: block;
  content: "";
  clear: both;
}
/* loader style */
/* .background {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: url(../img/vX.gif) no-repeat center center;
  background-size: cover;
  z-index: -1;
  opacity: 0.1;
} */
/* ========header style ==========*/
.main_header {
  width: 100%;
  height: 70px;
  box-sizing: border-box;
  box-shadow: 0 5px 15px #ccc;
  position: fixed;
  background: #fff;
  z-index: 10;
  transition: all 0.3s ease-in;
}
.main_header.active {
  box-shadow: 0 3px 5px #bbb;
}
.main_header h1 {
  font-size: 65px;
  cursor: pointer;
}
.main_header .item_left {
  float: left;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  border-right: 2px solid black;
  padding: 0 10px;
  overflow: hidden;
}
.main_header .item_right {
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  float: right;
  padding: 0 20px 0 10px;
}
.main_header .item_right h1 {
  float: left;
}
.sub_header {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  transition: all 0.3s ease-out;
  background: #fff;
  z-index: 9;
}
.sub_header.active {
  top: 70px;
  box-shadow: 0 5px 10px #ccc;
}
.sub_header .item_left {
  float: left;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  padding: 0 10px;
}
.sub_header .item_right {
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  float: right;
  padding: 0 10px;
}
.sub_header h1 {
  float: left;
  font-size: 65px;
  margin-right: 20px;
  cursor: pointer;
}
/* side nav bar style */
.side_nav_bars {
  position: relative;
  color: black;
  transition: top 0.3s;
  width: 45px;
  height: 50px;
  cursor: pointer;
  float: right;
  margin-top: 15px;
}
.side_nav_bars span {
  position: absolute;
  height: 7px;
  width: 100%;
  background: black;
  opacity: 1;
  left: 0;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.side_nav_bars span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
.side_nav_bars span:nth-child(2) {
  top: 15px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
.side_nav_bars span:nth-child(3) {
  top: 30px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
.side_nav_bars.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
}
.side_nav_bars.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
.side_nav_bars.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 31px;
}
/*========= section style ==========*/
.blur_wrap {
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  position: fixed;
  left: 0;
  top: 0;
  transition: all 0.3s ease-out;
  z-index: 11;
}
.blur_wrap.active {
  opacity: 0;
  visibility: hidden;
}
.wrap {
  width: 90%;
  height: auto;
  box-sizing: border-box;
  padding: 90px 0;
  margin: auto;
  /* background: #eee; */
}
.wrap .container {
  width: 100%;
  height: auto;
  /* background: #ddd; */
}
.wrap .container .pf_item {
  width: 25%;
  height: 300px;
  box-sizing: border-box;
  padding: 10px;
  float: left;
  /* background: #ccc; */
}
.wrap .container .pf_item .pf_item_con {
  width: 100%;
  height: 100%;
  /* background: #bbb; */
}
.wrap .container .pf_item .pf_item_con img {
  width: 100%;
}
